<div class="container">
<h2 class="mt-5 description_title">Kansai_chill_spotsとは？</h2> 

<p class="mt-5">「Kansai_chill_spots」は関西の静かで落ち着ける"チルアウトな"スポットをユーザー同士で共有できるサイトです。<br>
※「チルアウト」は、英語では「chill out」という言葉で、「落ち着く」「リラックスする」という意味があります。<br><br>
現代に疲れた方、静かで落ち着けるスポットを求めている方、ぜひここでゆったり落ち着けるスポットを見つけてみませんか？<br>


</p>

<%= image_tag '3849479_m.jpg' ,class: "detail__image" %>

<%= image_tag '4050178_s.jpg' ,class: "detail__image" %>

<%= image_tag 'zubotty421DSC_2746_TP_V.jpg' ,class: "detail__image" %>

</div>

<footer class="mt-5">
  <div class="container">
    <p class="footer-logo">Kansai_chill_spots</p>
    <div class="navigation">
      <p><i class="fas fa-share-square"></i>　お問い合わせ</p>
      <p class="copyright">©KOUHEI-MASUDA</p>
    </div>
  </div>
</footer>