
 //リセットcss
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//ここまでリセットCSS
 
a.btn-border {
    color: inherit;
    background: #fff;
    border: 2px solid #000000;
    border-radius: 0;
    text-decoration: inherit;
  }

a{
    text-decoration: none;
}

.top-image{
 width:100%;
 font-family: 'Noto Serif JP', serif;
 display: flex;

    &__catchcopy{
        font-size: 40px;
        writing-mode: vertical-rl;
        margin-left: 150px;
        margin-bottom:0;
    }
    &__subcatchcopy{
        font-size: 20px;
        writing-mode: vertical-rl;
        margin-left: 100px;
        margin-bottom:0;
        margin-top: 130px;

    }

}

.latest-post{
    
    background-color:#dcdcdc;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.latest-title{
    text-align: center;
    padding-top:50px;
}

.post{
    width:270px;
    height:400px;
}

.post_link{
    color: black;
    text-decoration: none;
}

.post_link:hover{
    text-decoration: none;
    color: black;
}
.info{
    width: 270px;
    height:110px;
    background-color: white;
}

.user-info{
    margin-left:10px;
}

.spot-info{
    margin-left:10px;
}

footer{
    width:100%;
    height:300px;
    padding-top:3%;
    background-color: black;
    color: white;
}
.footer-logo{
    font-size:35px;
}
.navigation{
    width:100%;
    display: flex;
    margin-top:8%;

}

.copyright{
    right: 10%;
    position: absolute;
}

.detail{

text-align: left;

&__image{
       width:70%;
       height:auto;
       margin:  100px auto 50px;
       display: block;
}

&__text{
    
    font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top:100px;
    margin:  50px auto;
}
}
.spot_name{
    font-weight: bold;
    font-size: 30px;
    width: 70%;
}

.edit_btn{
    width:70%;
       height:auto;
       margin:  0px auto 50px;
       display: block;

}

.likes{
    width:70%;
    height:auto;
    margin:  100px auto 50px;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 28px;
    display: flex;
    color: palevioletred;

    }
.like_count{
    font-size: 20px;
    padding-top: 10px;
}
.likes_buttons{
    width: 70%;
    height:49px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 5px;
    color: red;
}

.like_button{
    width: 300px;
}


.like_count{
    color: #e82a2a;
    font-size: 30px;
}
.comments_all{
    font-weight: bold;
    font-size: 30px;
    width: 70%;
    
}

.comments{
    border:1px solid #c8c8c8;
    border-radius: 5px;
    width: 70%;
    margin:  50px auto;
}
.comment{
    margin-top:30px;
    margin:  20px 50px;


    &__content{

    }

    &__user-info{
        display: flex;
        text-decoration:underline;
        &__name{

        }

    }
}

#likes{
    display: none;
}

.comment_form{
    display: flex;
    width: 70%;
    margin:  50px auto;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.comment_textarea{
    width:200px;
}
.spot_description{
    border:1px solid #c8c8c8;
    border-radius: 5px;
    height: 150px;
    padding: 10px;
    font-size: 15px;
    width: 70%;
}

.spot_address{
    border:1px solid #c8c8c8;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    width: 70%;
}

#map {
   
    margin-top:50px;
    margin:  50px auto;
}

  .map1{
    height: 300px;
    width: 400px;
  }

  .map2 {
    height: 500px;
    width: 70%;
    margin-bottom: 200px;
    margin-left: 50px;
  }

#position_show{
    display: none;
}
#position_show2{
    display: none;
}

input[type="text"] {
    width: 300px;
    height: 30px;
}

.category{
    width: 100%;
    height:auto;
    
}

.category_title{
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}

.category_lists{
    list-style: none;
    margin: 100px auto 100px; 
    display: flex;
    text-align: center;

}

ul li{
    width: 150px;
    margin-top: 30px;
    font-size: 18px;
}

.post_link li{
    text-align: center;
}


.show_post{
    
    background-color:#dcdcdc;
    font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 50px;
}