.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 50px auto;
	padding-bottom: 10px;
    padding-top: 30px;
	background: #fff;
    
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #000;
	padding: 3%;
	border: 1px solid  #000;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background:#000;
	border-bottom: 2px solid #000;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background:#000;
}

.user-form{
    margin-top: 100px;
}

.user_menu{
	margin-top: 4px;
	margin-left: 10px;
	color: white;
}

.user_edit_btn{
    width:100%;
	height: 100px;
    height:auto;
    display: block;
	text-align: left;
	padding-left: 220px;
}


.nav-btn{
    width:400px;
    display: flex;
}

.user_image{
	display: flex;
	margin:100px auto 30px;
	width:60%;

}

.dropdwn_menu{
    width: 50%;
	height:50px;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    background:white;
	color: black;
	border: #000 1px solid;
}

.drop_menu > a{
	text-decoration: none;
	color: black;
	
}

.drop_menu{
	margin: 10px;
	width: 100%;
	
}
 .user_avatar{
	width: 180px;
	height: 180px;
	border-radius: 100px;
	border: rgb(212, 209, 209) 1px solid;
  }

  .user_avatar2{
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background-color: #fff;
	border: rgb(212, 209, 209) 1px solid;
  }

  .user_avatar3{
	width: 50px;
	height: 50px;
	border-radius: 40px;
	background-color: #fff;
	border: rgb(212, 209, 209) 1px solid;
  }


.introduction{
	font-size: 20px;
	width:60%;
	margin: 30px auto;
}



.user_profile{
	border:1px solid #c8c8c8;
    border-radius: 5px;
    height: 150px;
    padding: 10px;
    font-size: 15px;
    width: 60%;
	margin:10px auto 80px;
}

.user_nickname{
	margin-top: 10px;
	margin-left: 50px;
	font-size: 20px;
}

.user_path2{
	width: 30%;
	padding-top: 10px;
	color: inherit;
	text-decoration: none;
	margin-left: 50px;
}

.user_follow{
	display: flex;
}

.follow_name{
	margin-top: 10px;
	margin-left: 30px;
}
.dummy_data{
	width:100%;
	height: 150px;
	margin: 0 auto;
	text-align: center;

}

.follow_form{
	margin: 0 auto;
	width: 60%;
	font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.follow_count{
display: flex;
}

.follow{
	margin-left:10px;
}
.follow_title{
	margin-top: 100px;
	margin: 100px auto 0;
	width: 60%;
	padding-bottom: 30px;
	border-bottom: rgb(212, 209, 209) 1px solid;
}
.follower{
	margin-bottom: 10px;
}
.follow_lists{
margin: 0 auto;
width: 60%;
}

.follow_list{
	display: flex;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
	// border-top: rgb(212, 209, 209) 1px solid;
	border-bottom: rgb(212, 209, 209) 1px solid;
	
}

.follow_profile{
	width: 40%;
	margin-left: 200px;
	margin-top: 10px;
	color: rgb(161, 149, 149);
	font-size: 15px;
	}