.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 500px;
	height: 100px;
	margin: 50px auto;
	padding-bottom: 10px;
    padding-top: 30px;
	background: #fff;
    
}
.form-style-6 h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
	box-shadow: 0 0 5px #000;
	padding: 3%;
	border: 1px solid  #000;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background:#000;
	border-bottom: 2px solid #000;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background:#000;
}

.form-style-6 input[name="user[profile]"]{

	height: 100px;
}

@media screen and (max-width: 480px) {
	.follow_number{
	font-size: 15px;
	}

	.user_edit_btn{
		width:150px;
		display: flex;
		margin-top: 10%;
	}

	.edi_profile{
		display: block;
		margin-top: 10px;
	}

	.user_nickname{
		font-size: 20px;
		margin-top: 5%;
	}
	.user_image{
		margin-top: 10%;
	}

	.follow_title{
		font-size: 18px;
		width: 100%;
	}

	.follow_lists{
		width: 100%;
	}
}

@media screen and (min-width: 760px) {
	.user_image{
		display: flex;
	}

	.user_profile{
		width: 60%;
	}

	.user_edit_btn{
		display: block;
		width: 60%;
		margin: 0 auto;
	}

.nickname{
	text-align: center;
}
	.user_nickname{
		margin-top: 30px;
	    margin-left: 50px;
	
	}

	.user_image{
		text-align: center;
		margin:100px auto 30px;
	    width:60%;
	}

	.introduction{
		margin: 0 auto;
	}

	.follow_form{
		margin: 0 auto;
	}
	.follow_title{
		width: 60%;
	}
	.follow_lists{
		width: 60%;
	}
	.follow_list{
		display: flex;
	}

	.follow_profile{
		margin-left: 200px;
		width: 40%;
	}
}
.user-form{
    margin-top: 100px;
}

#myfile{
 display: none;
}

.user_menu{
	color: white;
	display: flex;
}

.user_edit_btn{
	height: 100px;
    height:auto;
	// margin: 0 auto;
    display: block;
}


.nav-btn{
    width:400px;
}

.user_image{
	
}

.dropdwn_menu{
    width: 50%;
	height:50px;
    display: none;
    position: absolute;
    margin-left: -5px;
    margin-top: 5px;
    padding: 0;
    background:white;
	color: black;
	border: #000 1px solid;
}

.drop_menu > a{
	text-decoration: none;
	color: black;
	
}

.drop_menu{
	margin: 10px;
	width: 100%;
	
}
 .user_avatar{
	width: 180px;
	height: 180px;
	border-radius: 100px;
	border: rgb(212, 209, 209) 1px solid;
  }

  .user_avatar2{
	width: 35px;
	height: 35px;
	border-radius: 25px;
	background-color: #fff;
	border: rgb(212, 209, 209) 1px solid;
	margin-bottom: 5px;
	margin-left: 10px;
  }

  .user_avatar3{
	width: 50px;
	height: 50px;
	border-radius: 40px;
	background-color: #fff;
	border: rgb(212, 209, 209) 1px solid;
  }
  

.introduction{
	font-size: 20px;
	width:60%;
	margin-top: 7%;
}



.user_profile{
	border:1px solid #c8c8c8;
    border-radius: 5px;
    height: 150px;
    padding: 10px;
    font-size: 15px;
	margin:10px auto 80px;
}

.user_nickname{

}

.user_path2{
	width: 30%;
	padding-top: 10px;
	color: inherit;
	text-decoration: none;
	margin-left: 50px;
}

.user_follow{
	display: flex;
}

.follow_name{
	margin-top: 10px;
	margin-left: 30px;
}
.dummy_data{
	width:100%;
	height: 150px;
	margin: 0 auto;
	text-align: center;

}

.follow_form{
	width: 60%;
	font-family: 'Kosugi', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.follow_count{
display: flex;
width: 60%;


}

.my_follow_count{
	display: flex;
width: 60%;
margin: 0 auto;
text-decoration: none;
}

.follow{
	margin-left:10px;
}
.follow_title{
	margin-top: 100px;
	margin: 100px auto 0;
	padding-bottom: 30px;
	border-bottom: rgb(212, 209, 209) 1px solid;
}
.follower{
	margin-bottom: 10px;
}
.follow_lists{
margin: 0 auto;

}

.follow_list{
	
	width: 100%;
	padding-top: 10px;
	padding-bottom: 30px;
	// border-top: rgb(212, 209, 209) 1px solid;
	border-bottom: rgb(212, 209, 209) 1px solid;
	
}

.follow_profile{

	// margin-left: 200px;
	margin-top: 10px;
	color: rgb(161, 149, 149);
	font-size: 15px;
	}